//////////////////////////////////////////////////////////Media Query////////////////////////////////////////////////////////////////

@media screen and (max-width: 720px) {
  .navbar {
    .rounded {
      display: none;
    }
    .vertical-line {
      display: none;
    }
  }

.display-none-last{
  display: none !important;
}
  .hero {
    width: calc(100% - 0px) !important;
  }
  .display-md-none{
    display: none !important;
  }
}

//////////////////////////////////////////////////////////Navbar////////////////////////////////////////////////////////////////
.navbar {
  background-color: #0b1426;
  color: white !important;
  .navbar-toggler{
    color: #555;
  }
  .navbar-toggler-icon{
    background-color: white;
  }
  .nav-link {
    color: white !important;
    font-weight: 600;
  }
  .nav-link:hover {
    color: rgb(56, 56, 240) !important;
  }
  .input-group {
    margin-left: 2rem;
    width: 20rem;
  }
  .input-group:hover {
    background-color: rgb(33, 32, 32);
    color: white;
  }
  .rounded {
    border: 1px solid white;
    border-radius: 40px !important;
    background-color: transparent;
    color: white;
  }
  .rounded:hover {
    border: 1px solid rgb(5, 169, 239);
  }
  .vertical-line {
    font-size: larger;
    color: grey;
    padding: 0px 15px;
  }
}

//////////////////////////////////////////////////////////Sidebar////////////////////////////////////////////////////////////////
.drawer-bg{
  background-color: #0B1426;
}


.chakra-modal__body{
  background-color: #0b1426;
}


.sidebar {
  // position: sticky;
  
  .menu{
    overflow-y: scroll !important;
    &::-webkit-scrollbar {
      width: 6px !important;
    }
    &::-webkit-scrollbar-track {
      background: #555;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px !important;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  background-color: #0b1426;
  color: white;
  .sidbar-col{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

  
  }
  .bOQEtf {
    border-right: 0px;
    width: 70%;
   
  }
  .menu-anchor{
    background: #0b1426 !important;
  }
  .menu-item{
    background: #0b1426 !important;
  }
  .fpTHfu {
    background: #0b1426 !important;
    font-weight: 700;
    height: 100%;
  }
  .sub-menu-content {
    background: #0b1426 !important;
    font-weight: 700;
  }
  .lkTtqM:hover {
    background-color: #0b1426 !important;
  }
  a:hover {
    color: white;
  }

  .sub-menu
{
  border-top: 1px solid grey;
  border-bottom:1px solid  grey;
}
}

//////////////////////////////////////////////////////////Hero Top////////////////////////////////////////////////////////////////

.hero-top {
  background-color: #0b1426;
  color: white;
  .card {
    overflow: hidden;
    position: relative;
    transition: all 1s;
    --bs-card-border-width: 0px;
    .card-ft {
      align-items: center;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 12px;
      padding-top: 24px;
      width: 100%;
      position: absolute;
      bottom: 0px;
      display: flex;
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 72.92%) 0%
        0% / cover no-repeat;
    }
    .card-body {
      padding: 0;
    }
    .text {
      color: white;
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 0;
    }
    .circle {
      font-size: 30px;
      background-color: rgb(0, 140, 255);
      border-radius: 50%;
    }
    .rounded-circle {
      width: 50px;
      height: 50px;
    }
  }
  // .rounded-circle:hover {
  //   transform: scale(1.2);
    
  // }
  .card1 {
    background-image: url("./Media/original1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 100%;
    height: 13rem;
    margin-left: 1rem;
    &:hover{
      transform: scale(1.2);
      transition: .5s;
      
    }
  }
  .card2 {
    background-image: url("./Media/original2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 100%;
    height: 13rem;
    margin-left: 1rem;
    &:hover{
      transform: scale(1.2);
      transition: .5s;
    }
  }
  .card3 {
    background-image: url("./Media/original3.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 100%;
    height: 13rem;
    margin-left: 1rem;
    &:hover{
      transform: scale(1.2);
      transition: .5s;
    }
  }
  .card4 {
    background-image: url("./Media/original4.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 100%;
    height: 13rem;
    margin-left: 1rem;
    &:hover{
      transform: scale(1.2);
      transition: .5s;
    }
  }
  .card5 {
    background-image: url("./Media/original5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 100%;
    height: 13rem;
    margin-left: 1rem;
    &:hover{
      transform: scale(1.2);
      transition: .5s;
    }
  }
  .card6 {
    background-image: url("./Media/original6.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 100%;
    height: 13rem;
    margin-left: 1rem;
    &:hover{
      transform: scale(1.2);
      transition: .5s;
    }
  }
  .card7 {
    background-image: url("./Media/original7.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 100%;
    height: 13rem;
    margin-left: 1rem;
    &:hover{
      transform: scale(1.2);
      transition: .5s;
    }
  }
  .card8 {
    background-image: url("./Media/original8.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 100%;
    height: 13rem;
    margin-left: 1rem;
    &:hover{
      transform: scale(1.2);
      transition: .5s;
    }
  }
}

//////////////////////////////////////////////////////////Card Data////////////////////////////////////////////////////////////////
.card-data{
  position: relative;
  .card-img-left{
    border-radius: 20px;
    width: 100%;
  }
  .under-Img{
    text-decoration: none;
    font-weight: 700;
  }
  .top-icons{
    display: flex;
    margin-top: 25px;
    .icons{
      font-size: 35px;
    }
  }
  .cr-icon{
    font-size: 20px;
  }
  .card-logo {
    border-radius: 40px;
    height: 40px;
    width: 40px;
  }
  .copy-icon{
    font-size: 20px;
  }
  a{
    color: #0b1426;
  }
  .back-button{
    text-decoration: none;
    color: blue;
  }
 
    .card-last-btn{
      width: 14rem !important;
      background-color: #11A0FA;
      border: none;
      font-weight: 600;
      padding: 7px 0px !important;
    }
  
}

.filter-btn{
  width: 7rem;
  padding: 1.5rem;
  border-radius: 30px !important;
  background-color: #323C52 !important;
  .filter-icon{
    font-size: 40px;
  }
}


//////////////////////////////////////////////////////////Hero////////////////////////////////////////////////////////////////

.hero {
  background-color: #0b1426;
  color: white;
  // width: calc(100% - 300px);
  // float: right;
  // position: relative;  
  .top-col-2 {
    display: flex;
    align-items: right;
    justify-content: right;
  }
  .top-row-btns {
    width: 10rem;
    height: 3.3rem;
    margin-left: 10px;
    color: white;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 40px;
  }

  a{
    text-decoration: none;
  }
  .card-img-top {
    border-radius: 20px 20px 0px 0px;
    // width: 10rem;
  }
 
  .card {
    margin-top: 1rem;
    height: 32rem;
    border-radius: 20px;
    border: 0;
   
    .card-logo {
      border-radius: 40px;
      height: 40px;
      width: 40px;
    }
    .logo-checked {
      font-size: 25px;
      color: blue;
    }
    .bg-danger-row{
      background-color:#F7F9FA;
      padding: 20px 10px;
    }
    .card-div{
      margin-top: 1rem;
      height: 3.2rem;
      width: 10rem;
      border-radius: 10px;
      border: 0;
      padding: 2px;
    }
    .card-footer-text {
      font-size: 12px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 3px;
    }
    .bid-btn{
      background-color: #DBEFFD;
      color: rgb(45, 173, 247);
      font-weight: 700;
      border: 0;
      height: 2.8rem;
      width: 4rem;
    }
    .footer-row{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }
}

//////////////////////////////////////////////////////////Footer////////////////////////////////////////////////////////////////
.footer-container {
  background-color: #0b1426;
  color: white;

  .footer-icons{
font-size: 40px;
  }
  ul li{
    list-style: none;
  }
  ul li a{
    text-decoration: none;
    color: grey;
  }
}
